body {
    direction: rtl;
    font-family: 'Yekan', 'Dinar', 'OpenSans';
    text-align: right;
}

.s-2x {
    font-size: 2em;
}

.s-1-5x {
    font-size: 1.5em;
}

.text-decoration-none:hover {
    text-decoration: none;
}

/* Override default bootstrap */

.nav-link .caret {
    margin-right: 5px;
}

.custom-checkbox label {
    padding-right: 25px;
}

.custom-checkbox label::before, .custom-checkbox label::after {
    right: 0;
}

.delete-photo:hover {
    text-decoration: none;
}

/* are-you-sure box */
#are_you_sure {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding: 20px 50px;
    display: none;
}
